@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}

@media all and (max-width: 992px) {
	.navbar .user-box{display: none !important;}
}

body{background-color: #6c757d;}
.layout .message-spacer{padding-top: 1.5em;margin-left: 15%; color: rgb(32, 32, 32);}
.layout .message-box .message{ width: 90%; color: black; font-size: medium; margin-top: 0.5em;}
.layout .message-box{width: 50%; margin-left: 15%;border-top: 30%; max-height: 10em;}
.layout .message-box .message-list{overflow-y: scroll; max-height: 25em; top: 5em;background-color: gainsboro;}
.layout .send-message-box {width: 50%; position: relative;}
.layout .send-message-box .form-group{width: 200%;padding-top: 1em;}