<title> Discussion Platform</title>
<h1>Discussion platform</h1>
{% if session.user[1] %}
<p>Logged in as {{session.user[1]}}</p>
<form action="/logout" method="POST">
<input type="submit" name="Submit" value="Logout">
</form>
<form action="/sendmessage" method="POST">
<input name="message" type="text" id="message"> <br>
<input type="submit" name="Submit" value="Send">
</form>
{% for m in messages_list %}
{{m[0]}}    {{m[1]}} <br>
{{m[2].strftime("%d/%m/%Y, %H:%M:%S")}} <br>
{% endfor %}
{% endif%}